#Build folder
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

#Misc
.DS_Store

# Duplicated source code for GUI app
demo/src/json-edit-react

# Dev playground file
.npmrc
temp.js
.vscode/settings.json
demo/src/firebaseConfig.json

# Built package in demo
demo/src/package
