.fg-editor-container {
  background-color: var(--fg-bg-color);
  font-family: var(--fg-main-font);
  font-size: 1.1em;
  /* font-size: 14px; */
  color: var(--fg-main-color);
  padding: 1em;
  min-width: 40%;
  /* letter-spacing: 0.06em; */
  font-weight: 400;
}

.fg-component {
}

.fb-collection-component {
}

.fg-collection-header-row,
.fg-value-main-row {
  display: flex;
  min-height: 1.6em;
  gap: 0.3em;
  align-items: center;
}

.fg-collection-header-row {
  display: flex;
}

.fg-brackets {
  color: var(--fg-bracket-color);
  font-weight: bold;
}

.fg-collection-item-count {
  font-style: italic;
  color: var(--fg-parenthetical-color);
}

.fg-collection-inner {
}

.fg-collection-element {
}

.fg-value-component {
}

.fg-value-main-row {
}

.fg-value-error-row {
}

.fg-value-string {
  color: var(--fg-string-color);
}

.fg-value-number {
  color: var(--fg-number-color);
}

.fg-value-boolean {
  color: var(--fg-boolean-color);
}

.fg-value-null {
  color: var(--fg-null-color);
  font-variant: small-caps;
  /* background-color: var(--fg-alt-bg-color); */
}

.fg-value-object {
}

.fg-value-array {
}

.fg-value-invalid {
}

.fg-error-slug {
}

.fg-input-text {
  height: 1.6em;
}

.fg-input-component {
}

.fg-edit-buttons,
.fg-input-buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fg-edit-buttons {
  opacity: 0;
}

.fg-edit-buttons:hover {
  opacity: 1;
}

.fg-collection-header-row:hover > .fg-edit-buttons {
  opacity: 1;
}

.fg-value-main-row:hover > .fg-edit-buttons {
  opacity: 1;
}

.fg-input-buttons {
}

.fg-icon-wrapper {
  height: 1.2em;
}

.fg-rotate-90 {
  transform: rotate(-90deg);
}

.fg-icon-chevron {
  fill: var(--fg-icon-chevron-color);
}

.fg-icon-edit {
  fill: none;
  stroke: var(--fg-icon-edit-color);
}

.fg-icon-delete {
  fill: var(--fg-icon-delete-color);
}

.fg-icon-add {
  fill: none;
  stroke: var(--fg-icon-add-color);
}

.fg-icon-copy {
  fill: var(--fg-icon-copy-color);
}

.fg-icon-ok {
  fill: var(--fg-icon-ok-color);
}
.fg-icon-cancel {
  fill: var(--fg-icon-cancel-color);
}
