:root {
  --fg-form-border: 1px solid #ededf0;
  --fg-form-border-focus: 1px solid #e2e2e2;
  --fg-expand-transition-time: 0.2s;
}
.fg-editor-container {
  background-color: var(--fg-bg-color);
  font-family: var(--fg-main-font);
  font-size: 1.1em;
  /* font-size: 20px; */
  color: var(--fg-main-color);
  padding: 1em;
  /* letter-spacing: 0.06em; */
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
}

.fg-editor-container textarea {
  width: 90%;
  border: var(--fg-form-border);
  border-radius: 0.3em;
  outline: none;
}

.fg-editor-container textarea:focus {
  border: var(--fg-form-border-focus);
}

.fg-editor-container input {
  border: var(--fg-form-border);
  border-radius: 0.3em;
  outline: none;
  font-family: var(--fg-main-font);
}

.fg-editor-container input:focus {
  border: var(--fg-form-border-focus);
}

.fg-editor-container select {
  /* color: red; */
}

.fg-component {
}

.fb-collection-component {
}

.fg-collection-header-row,
.fg-value-main-row {
  display: flex;
  min-height: 1.7em;
  gap: 0.3em;
  align-items: center;
}

.fg-collection-header-row {
  display: flex;
}

.fg-brackets {
  color: var(--fg-bracket-color);
  font-weight: bold;
}

.fg-collection-item-count {
  font-style: italic;
  color: var(--fg-parenthetical-color);
}

.fg-collection-inner {
  position: relative;
}

.fg-collection-text-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.fg-collection-input-button-row {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.fg-collection-element {
}

.fg-collection-error-row {
  position: absolute;
  bottom: 0;
}

.fg-collection-error-row-edit {
}

.fg-error-slug {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
  margin-left: 1em;
}

.fg-value-component {
  position: relative;
}

.fg-value-main-row {
}

.fg-value-error-row {
  position: absolute;
}

.fg-value-string {
  color: var(--fg-string-color);
}

textarea.fg-input-text {
  resize: none;
  margin: 0;
  padding: 0;
  height: 1.4em;
  padding-top: 0.2em;
  padding-left: 0.5em;
  min-width: 6em;
}

input[type='checkbox'] {
  /* color: green;
  outline: 1px solid red; */
}

.fg-value-number {
  color: var(--fg-number-color);
}

.fg-value-boolean {
  color: var(--fg-boolean-color);
}

.fg-value-null {
  color: var(--fg-null-color);
  font-variant: small-caps;
  font-weight: bold;
  /* background-color: var(--fg-alt-bg-color); */
}

.fg-value-object {
}

.fg-value-array {
}

.fg-value-invalid {
  opacity: 0.5;
  font-style: italic;
}

/* .fg-input-text, */
.fg-input-number {
  height: 1.6em;
}

.fg-input-number {
  min-width: 3em;
}

.fg-input-component {
}

.fg-edit-buttons,
.fg-input-buttons {
  display: flex;
  gap: 0.4em;
  align-items: center;
  cursor: pointer;
}

.fg-edit-buttons {
  margin-left: 0.5em;
}

.fg-edit-buttons {
  opacity: 0;
}

.fg-edit-buttons:hover {
  opacity: 1;
  position: relative;
}

.fg-collection-header-row:hover > .fg-edit-buttons {
  opacity: 1;
}

.fg-value-main-row:hover > .fg-edit-buttons {
  opacity: 1;
}

.fg-input-buttons {
}

.fg-icon-wrapper {
  height: 1.4em;
  opacity: 1;
  transition: 0.2s;
}

.fg-icon-wrapper:active {
  position: relative;
  top: 0.07em;
}

.fg-icon-wrapper:hover {
  opacity: 0.85;
  transition: 0.2s;
  transform: scale(1.2);
}

.fg-copy-pulse {
  position: relative;
}

.fg-copy-pulse:hover {
}

.fg-copy-pulse:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 15px 5px var(--fg-icon-copy-color);
}

.fg-copy-pulse:active:after {
  box-shadow: 0 0 0 0 var(--fg-icon-copy-color);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.fg-copy-pulse:active {
  top: 0.07em;
}

.fg-rotate-90 {
  transform: rotate(-90deg);
  transition: transform var(--fg-expand-transition-time);
}

.fg-icon-chevron {
  fill: var(--fg-icon-chevron-color);
  transition: transform var(--fg-expand-transition-time);
}

.fg-icon-edit {
  fill: none;
  stroke: var(--fg-icon-edit-color);
}

.fg-icon-delete {
  fill: var(--fg-icon-delete-color);
}

.fg-icon-add {
  fill: none;
  stroke: var(--fg-icon-add-color);
}

.fg-icon-copy {
  fill: var(--fg-icon-copy-color);
}

.fg-icon-ok {
  fill: var(--fg-icon-ok-color);
}
.fg-icon-cancel {
  fill: var(--fg-icon-cancel-color);
}
