:root {
  --jer-form-border: 1px solid #ededf0;
  --jer-form-border-focus: 1px solid #e2e2e2;
  --jer-expand-transition-time: 0.2s;
}
.jer-editor-container {
  background-color: var(--jer-bg-color);
  border: 1px solid var(--jer-border-color);
  font-family: var(--jer-main-font);
  font-size: 1.1em;
  /* font-size: 20px; */
  color: var(--jer-main-color);
  padding: 1em;
  /* letter-spacing: 0.06em; */
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.jer-editor-container textarea {
  /* width: 90%; */
  color: var(--jer-input-color);
  border: var(--jer-form-border);
  border-radius: 0.3em;
  outline: none;
}

.jer-editor-container textarea:focus {
  border: var(--jer-form-border-focus);
}

.jer-editor-container input {
  color: var(--jer-input-color);
  border: var(--jer-form-border);
  border-radius: 0.3em;
  outline: none;
  font-family: var(--jer-main-font);
}

.jer-editor-container input:focus {
  border: var(--jer-form-border-focus);
}

/* Input highlighted text */
.jer-editor-container ::selection {
  background: var(--jer-highlight-color);
}

.jer-editor-container select {
  /* color: red; */
}

.jer-component {
}

.fb-collection-component {
}

.jer-collection-header-row,
.jer-value-main-row {
  display: flex;
  min-height: 1.7em;
  gap: 0.3em;
  align-items: center;
}

.jer-collection-header-row {
  display: flex;
  flex-wrap: wrap;
}

.jer-brackets {
  color: var(--jer-bracket-color);
  font-weight: bold;
}

.jer-collection-item-count {
  font-style: italic;
  color: var(--jer-parenthetical-color);
}

.jer-collection-inner {
  position: relative;
}

.jer-collection-text-edit {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.jer-collection-text-area {
  resize: both;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0;
  overflow: hidden;
  max-height: 40em;
}

.jer-collection-input-button-row {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.jer-collection-element {
}

.jer-collection-error-row {
  position: absolute;
  bottom: 0;
}

.jer-collection-error-row-edit {
}

.jer-error-slug {
  font-size: 0.8em;
  color: red;
  font-weight: bold;
  margin-left: 1em;
}

.jer-value-component {
  position: relative;
}

.jer-value-main-row {
  display: flex;
  flex-wrap: wrap;
}

.jer-value-error-row {
  position: absolute;
}

.jer-value-string {
  color: var(--jer-string-color);
}

.jer-input-text {
  resize: none;
  margin: 0;
  height: 1.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0;
  min-width: 6em;
  overflow: hidden;
  max-height: 30em;
}

/* To prevent over-writing by UI libraries */
.jer-type-select {
  border: revert;
  border-radius: revert;
  padding: revert;
  font-family: revert;
  font-size: revert;
  color: revert;
}

.jer-value-number {
  color: var(--jer-number-color);
}

.jer-value-boolean {
  color: var(--jer-boolean-color);
}

.jer-value-null {
  color: var(--jer-null-color);
  font-variant: small-caps;
  font-weight: bold;
  /* background-color: var(--jer-alt-bg-color); */
}

.jer-value-object {
}

.jer-value-array {
}

.jer-value-invalid {
  opacity: 0.5;
  font-style: italic;
}

/* .jer-input-text, */
.jer-input-number {
  height: 1.6em;
}

.jer-input-number {
  min-width: 3em;
}

.jer-input-component {
}

.jer-edit-buttons,
.jer-input-buttons {
  display: flex;
  gap: 0.4em;
  align-items: center;
  cursor: pointer;
}

.jer-edit-buttons {
  margin-left: 0.5em;
}

.jer-edit-buttons {
  opacity: 0;
}

.jer-edit-buttons:hover {
  opacity: 1;
  position: relative;
}

.jer-collection-header-row:hover > .jer-edit-buttons {
  opacity: 1;
}

.jer-value-main-row:hover > .jer-edit-buttons {
  opacity: 1;
}

.jer-input-buttons {
}

.jer-icon-wrapper {
  height: 1.4em;
  opacity: 1;
  transition: 0.2s;
}

.jer-icon-wrapper:active {
  position: relative;
  top: 0.07em;
}

.jer-icon-wrapper:hover {
  opacity: 0.85;
  transition: 0.2s;
  transform: scale(1.2);
}

.jer-copy-pulse {
  position: relative;
}

.jer-copy-pulse:hover {
}

.jer-copy-pulse:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 15px 5px var(--jer-icon-copy-color);
}

.jer-copy-pulse:active:after {
  box-shadow: 0 0 0 0 var(--jer-icon-copy-color);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.jer-copy-pulse:active {
  top: 0.07em;
}

.jer-rotate-90 {
  transform: rotate(-90deg);
  transition: transform var(--jer-expand-transition-time);
}

.jer-icon-chevron {
  fill: var(--jer-icon-chevron-color);
  transition: transform var(--jer-expand-transition-time);
}

.jer-icon-edit {
  fill: none;
  stroke: var(--jer-icon-edit-color);
}

.jer-icon-delete {
  fill: var(--jer-icon-delete-color);
}

.jer-icon-add {
  fill: none;
  stroke: var(--jer-icon-add-color);
}

.jer-icon-copy {
  fill: var(--jer-icon-copy-color);
}

.jer-icon-ok {
  fill: var(--jer-icon-ok-color);
}
.jer-icon-cancel {
  fill: var(--jer-icon-cancel-color);
}
